fastapi[standard]
pydantic
uvicorn[standard]
python-multipart
ezdxf
PyMuPDF
opencv-python
scikit-image
scikit-learn
umap-learn
pillow
pandas
openpyxl
pyarrow
fastparquet
matplotlib
scipy
tqdm
celery
redis
flower
PyYAML
openai
dspy
python-dotenv
requests
termcolor